In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/local_authority_traffic.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5529 entries, 0 to 5528
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   local_authority_id    5529 non-null   int64
 1   local_authority_name  5529 non-null   object
 2   year                  5529 non-null   int64
 3   link_length_km        5529 non-null   float64
 4   link_length_miles     5529 non-null   float64
 5   cars_and_taxis        5529 non-null   float64
 6   all_motor_vehicles    5529 non-null   float64
dtypes: float64(4), int64(2), object(1)
memory usage: 302.5+ KB

In [4]:
df.shape

(5529, 7)

In [5]:
df.head(5)

,local_authority_id,local_authority_name,year,link_length_km,link_length_miles,cars_and_taxis,all_motor_vehicles
0,45,Aberdeenshire,2019,6273.378,3898.10,1.537817e+09,2.055245e+09
1,107,Lambeth,2019,377.000,234.26,3.977109e+08,5.471234e+08
2,172,Newcastle upon Tyne,2019,984.992,612.05,1.006029e+09,1.209012e+09
3,93,Tower Hamlets,2019,287.327,178.54,4.652937e+08,6.309388e+08
4,158,St. Helens,2019,740.220,459.95,7.281754e+08,9.307801e+08

In [6]:
df.columns

Index(['local_authority_id', 'local_authority_name', 'year', 'link_length_km',
       'link_length_miles', 'cars_and_taxis', 'all_motor_vehicles'],
      dtype='object')

## Descriptive Analysis:
Descriptive statistics summarize and describe the main features of a dataset. Common measures used in descriptive analysis include mean, median, mode, range, standard deviation, and percentiles.

In [7]:
# Descriptive Statistics
import pandas as pd

# Assuming your DataFrame is named df
descriptive_stats = df.describe()

# Additional Descriptive Statistics
median = df.median()
variance = df.var()
skewness = df.skew()
kurtosis = df.kurt()

# Display Descriptive Statistics
print(descriptive_stats)
print("\nMedian:\n", median)
print("\nVariance:\n", variance)
print("\nSkewness:\n", skewness)
print("\nKurtosis:\n", kurtosis)

       local_authority_id         year  link_length_km  link_length_miles  \
count         5529.000000  5529.000000     5529.000000        5529.000000
mean           103.954784  2006.029481     1914.890071        1189.857482
std             59.894406     7.791677     2250.130227        1398.166153
min              1.000000  1993.000000       34.510000          21.440000
25%             52.000000  1999.000000      557.720000         346.550000
50%            104.000000  2006.000000      965.896000         600.180000
75%            156.000000  2013.000000     2024.887000        1258.210000
max            210.000000  2019.000000    13134.170000        8161.190000

       cars_and_taxis  all_motor_vehicles
count    5.529000e+03        5.529000e+03
mean     1.186597e+09        1.489398e+09
std      1.323949e+09        1.667924e+09
min      8.187832e+05        1.407915e+06
25%      4.373361e+08        5.455881e+08
50%      7.162136e+08        8.921869e+08
75%      1.226467e+09        1.550934e+09
max      8.216973e+09        1.032881e+10

Median:
 local_authority_id    1.040000e+02
year                  2.006000e+03
link_length_km        9.658960e+02
link_length_miles     6.001800e+02
cars_and_taxis        7.162136e+08
all_motor_vehicles    8.921869e+08
dtype: float64

Variance:
 local_authority_id    3.587340e+03
year                  6.071024e+01
link_length_km        5.063086e+06
link_length_miles     1.954869e+06
cars_and_taxis        1.752842e+18
all_motor_vehicles    2.781971e+18
dtype: float64

Skewness:
 local_authority_id    0.001236
year                 -0.005867
link_length_km        2.125865
link_length_miles     2.125865
cars_and_taxis        2.526951
all_motor_vehicles    2.496696
dtype: float64

Kurtosis:
 local_authority_id   -1.198311
year                 -1.204683
link_length_km        4.457370
link_length_miles     4.457369
cars_and_taxis        6.906488
all_motor_vehicles    6.690080
dtype: float64

<ipython-input-7-c96ba5757798>:8: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  median = df.median()
<ipython-input-7-c96ba5757798>:9: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  variance = df.var()
<ipython-input-7-c96ba5757798>:10: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  skewness = df.skew()
<ipython-input-7-c96ba5757798>:11: FutureWarning: The default value of numeric_only in DataFrame.kurt is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  kurtosis = df.kurt()

## Inferential Statistics:
Inferential statistics involve making inferences about a population based on a sample of data. Common techniques include hypothesis testing and confidence intervals.

In [9]:
# Example: Independent T-Test
# Compare 'cars_and_taxis' for two groups (before and after 2000)
group_before_2000 = df[df['year'] < 2000]['cars_and_taxis']
group_after_2000 = df[df['year'] >= 2000]['cars_and_taxis']

t_stat, p_value = ttest_ind(group_before_2000, group_after_2000)

# Display results
print(f"Independent T-Test: t-statistic = {t_stat}, p-value = {p_value}")

Independent T-Test: t-statistic = -3.1602065516342073, p-value = 0.0015850850334400855

In [10]:
# Check for Missing Values
missing_values = df.isnull().sum()

# Display the count of missing values for each column
print("Missing Values:\n", missing_values)

Missing Values:
 local_authority_id      0
local_authority_name    0
year                    0
link_length_km          0
link_length_miles       0
cars_and_taxis          0
all_motor_vehicles      0
dtype: int64

In [11]:
df2 = pd.read_csv("/content/Pakistani Traffic sentiment Analysis.csv")

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2110 entries, 0 to 2109
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    2110 non-null   object
 1   Label   2110 non-null   object
dtypes: object(2)
memory usage: 33.1+ KB

## Descriptive Analysis:

In [13]:
# Descriptive Statistics for 'Label' column
label_stats = df2['Label'].describe()

# Display summary statistics
print("Label Statistics:\n", label_stats)

Label Statistics:
 count     2110
unique       3
top          1
freq      1099
Name: Label, dtype: object

## Class Distribution:

In [14]:
# Class Distribution of 'Label'
class_distribution = df2['Label'].value_counts()

# Display class distribution
print("Class Distribution:\n", class_distribution)

Class Distribution:
 1        1099
0        1010
Label       1
Name: Label, dtype: int64

## Inferential Analysis:
Hypothesis Testing:

In [21]:
import nltk

In [15]:
from scipy.stats import chi2_contingency

# Create a contingency table
contingency_table = pd.crosstab(df2['Label'], columns='count')

# Perform Chi-Square test
chi2, p, _, _ = chi2_contingency(contingency_table)

# Display results
print(f"Chi-Square Statistic: {chi2}")
print(f"P-value: {p}")

Chi-Square Statistic: 0.0
P-value: 1.0

In [22]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score, classification_report
from nltk.corpus import stopwords  # Add this import

# Load your dataset
# Assuming your DataFrame is named df
# X is the feature (Text), y is the target (Label)
X = df2['Text']
y = df2['Label']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build a pipeline with a TF-IDF vectorizer and a Naive Bayes classifier
model = make_pipeline(TfidfVectorizer(stop_words=stopwords.words('english')), MultinomialNB())

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
predictions = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, predictions)
report = classification_report(y_test, predictions)

# Display results
print(f"Accuracy: {accuracy:.2f}")
print("\nClassification Report:\n", report)

Accuracy: 0.90

Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.92      0.89       195
           1       0.93      0.89      0.91       227

    accuracy                           0.90       422
   macro avg       0.90      0.90      0.90       422
weighted avg       0.90      0.90      0.90       422

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import accuracy_score, classification_report
from nltk.corpus import stopwords

# Load your dataset
# Assuming your DataFrame is named df
# X is the feature (Text), y is the target (Label)
X = df2['Text']
y = df2['Label']

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Models
models = {
    "Naive Bayes": MultinomialNB(),
    "Logistic Regression": LogisticRegression(),
    "SVM": SVC(),
    "Random Forest": RandomForestClassifier()
}

# Train and evaluate each model
for name, model in models.items():
    pipeline = make_pipeline(TfidfVectorizer(stop_words=stopwords.words('english')), model)
    pipeline.fit(X_train, y_train)
    predictions = pipeline.predict(X_test)

    accuracy = accuracy_score(y_test, predictions)
    report = classification_report(y_test, predictions)

    print(f"\n{name} Model:")
    print(f"Accuracy: {accuracy:.2f}")
    print("Classification Report:\n", report)

Naive Bayes Model:
Accuracy: 0.90
Classification Report:
               precision    recall  f1-score   support

           0       0.87      0.92      0.89       195
           1       0.93      0.89      0.91       227

    accuracy                           0.90       422
   macro avg       0.90      0.90      0.90       422
weighted avg       0.90      0.90      0.90       422


Logistic Regression Model:
Accuracy: 0.98
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.96      0.97       195
           1       0.97      0.99      0.98       227

    accuracy                           0.98       422
   macro avg       0.98      0.98      0.98       422
weighted avg       0.98      0.98      0.98       422


SVM Model:
Accuracy: 0.97
Classification Report:
               precision    recall  f1-score   support

           0       0.99      0.95      0.97       195
           1       0.96      0.99      0.98       227

    accuracy                           0.97       422
   macro avg       0.98      0.97      0.97       422
weighted avg       0.97      0.97      0.97       422


Random Forest Model:
Accuracy: 0.95
Classification Report:
               precision    recall  f1-score   support

           0       0.97      0.93      0.95       195
           1       0.94      0.97      0.96       227

    accuracy                           0.95       422
   macro avg       0.95      0.95      0.95       422
weighted avg       0.95      0.95      0.95       422